*{
    margin: 0;
    padding: 0;
}

#showcase p{
    background-color: white;
    
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #01090c;
    line-height: 1.6;
}

#showcase{
    background-image: url('../mount2.jpg');
    height: 100vh;
    
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    text-align: center;
    padding:0 20px;
}
#showcase h1{
    font-size: 50px;
    background-color: rgba(112, 181, 206, 0.3);
   
    margin-bottom: 20px;
    line-height: 1.2;
}
#showcase p{
    font-size: 20px;
}
#showcase .button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-decoration: none;
    border: #01090c 1px solid;
    border-radius: 10px;
    background-color: gainsboro;
    
    padding: 10px;
    margin-top: 20px;
}

#showcase .button:hover{
    background-color:#076e93 ;
    color: #fff;
}

#section-a{
    padding: 20px;
    background: #055977;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    border: black 2px solid;
    

}
#section-b{
    padding: 20px;
    background: #39829c;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    border: black 2px solid;

}
#section-c{
    display: flex;
}
.box1{
    padding: 20px;
    text-align: center;
    background: #055977;
     color: aliceblue;
     border: #000405 2px solid;
     border-radius: 10px;
}
.box3{
    padding: 20px;
    text-align: center;
    background: #93bbca;
     color: aliceblue;
     border: #000405 2px solid;
     border-radius: 10px;
}
.box2{
    padding: 20px;
    text-align: center;
    background: #5198b1;
     color: aliceblue;
     border: #000405 2px solid ;
     border-radius: 10px;
}
